.currency-converter {
    margin-top: 20px;
}

.currency-converter label {
    display: block;
    margin-bottom: 5px;
}

.currency-converter ul {
    list-style-type: none;
    padding: 0;
}

.currency-converter li {
    cursor: pointer;
    margin-bottom: 5px;
}